.num1 {
    background-color: black;
    color: white;
    font-size: bold;
}

.num2 {
    background-color: yellow;
}

.num1, .num2 {
    font-size: 28px;
    font-family: Helvetica, "times New Roman", sans-serif;
}